header {
  text-align: center;
}
main {
  text-align: center;
}

.again {
  width: 40%;
}

.start {
  margin-top: 20px;
}

.orderButtons {
  margin-bottom: 10px;
}


.game {
    display: none;
}

label {
  width: 200px;
  margin: 5px;
}

.board {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  grid-gap: 5px;
  background-color: black;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: white;
}

.result {
  display:none;
  margin: 30px auto;
}

header {
  margin: 40px auto;
}
